* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
   scroll-behavior : smooth;
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top : 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

#home {
    background: url('football-bg.jpg') no-repeat center center/cover;
    height: 400px;
    color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    max-width: 400px;
    width: 100%;
}

.btn:hover {
    background-color: #218838;
}

.club-list {
    display: flex;
    flex-direction : column;
    justify-content: space-around;
    align-items : center;
    margin-top: 20px;
}

.club {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    margin:1em;
}

.club h3 {
    color: #333;
}

#contact form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

#contact label {
    margin-bottom: 5px;
}

#contact input, #contact textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#contact button:hover {
    background-color: #0056b3;
}

